*{
    box-sizing: border-box;
}

body{
    background-color: goldenrod;
}
body > h1{
    color: white;

}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rebeccapurple;
}

main > .domino{
    /* display: none; */
    list-style-type: none;
    font-size: 7rem;
    transition: transform .5s;
}
main > .domino:hover{
    transform: scale(1.25) rotate(.5turn);
}
main > .domino .selected{
    /* display: block; */
     color: white;
    filter: drop-shadow(5px 0 .25rem white);
}
